#acceuil {
  position: absolute;
  left: 500px;
  right: 0px;
  top: 0px;
  width: auto;
  height: auto;
  min-height: 100%;
  background-color: #40404c;
}
#uptitle {
  color: white;
  margin-top: 70px;
}
section #br {
    color: white;
    margin-left: 62px;
    margin-top: -0px;
    font-size: 1rem;
}
#br i {
  width: 300px;
  font-size: .6rem;
}
iframe {
  margin: auto;
  left: 0; right: 0;
  width: 900px;
  height: 600px;
  margin-bottom: 100px;
  display: block;
}



@media only screen and (max-width: 1400px) {
#acceuil {
  left: 300px;
}
#acceuilvideo {
    margin: auto;
    left: 4%; right: 4%;
    width: 92%;
    height: auto;
    padding-top: 66.66%;
    background-color: #bce4ed;
    margin-bottom: 60px;
    background-size: cover;
    cursor: pointer;
}
iframe {
  margin-bottom: 50px;
  width: 92%;
  height: 400px;
}


}

@media only screen and (max-width: 1000px) {
#uptitle {
  font-size: 1.5rem;
}

}

@media only screen and (max-width: 760px) {

}
