body,html {
  font-family: 'Poppins', sans-serif;
  min-width: 900px;
}
a {
  text-decoration: none;
  color: inherit;
}
#uptitle {
    margin-left: 62px;
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 2rem;
  }
  #menu {
    position: fixed;
    left: 0;
    top: 0;
    width: 500px;
    height: 100%;
    background-image: url(../image/fd.png);
    background-size: cover;
  }
  #sec1 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80%;
  }
  #sec2 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 20%;
  }
  #logo {
    width: 150px;
    height: 150px;
    position: fixed;
    left: 175px;
    top: 20px;
    z-index: 1000;
    background: url(../image/logo.png);
    background-size: contain;
  }
  a.nav {
    font-family: "poppins";
    font-size: 30px;
    line-height: 2.6;
    font-weight: 600;
    color: #930025;
    text-decoration: none;
    }
    a.nav:hover {
    text-decoration: underline;
    color: black;
}
  ul {
    list-style-type: none;
    position: fixed;
    top: 230px;
    left: 30px;
  }
  #bottom {
    position: fixed;
    bottom: 74px;
    left: 374px;
  }
  #bottom svg {
    margin-left: 10px;
    text-align: right;
    cursor: pointer;
    transition: .3s;
    width:16px;
    height:16px;
  }
  #bottom svg:hover {
    color: #930025;
}
  #sec2 .a {
    position: fixed;
    bottom: 3px;
    left: 0px;
    text-align: right;
    width: 490px;
    font-size: 9px;
  }
  #moto {
    position: fixed;
    bottom: 30px;
    left: 0px;
    text-align: right;
    width: 490px;
    font-size: 9px;
  }







  @media only screen and (max-width: 1400px) {
    #menu {
      position: fixed;
      left: 0;
      top: 0;
      width: 300px;
      height: 100%;
      background-image: url(../image/fd.png);
      background-size: cover;
    }
    #logo {
      left: 75px;
    }
    a.nav {
      font-size: 27px;
      }
    ul {
     top: 260px;
     left: 25px;
     }
     #bottom {
       left: 174px;
     }
     #sec2 .a {
       width: 290px;
     }
     #moto {
       width: 290px;
     }
}








@media only screen and (min-device-width : 375px) and (max-device-width : 812px) and (-webkit-device-pixel-ratio : 3) {
  .menu-icon {
  z-index: 1000000000022;
  display: inline-block;
  float: left;
  padding: 50px 25px;
  position: relative;
  user-select: none;
  }

  .menu-icon .navicon {
  background: #f0dcdd;
  display: block;
  height: 4px;
  border-radius: 4px;
  position: relative;
  transition: .2s ease-out;
  width: 80px;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
  background: #f0dcdd;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  }

  .menu-icon .navicon:before {
  top: 25px;
  border-radius: 4px;
  }

  .menu-icon .navicon:after {
  top: -25px;
  border-radius: 4px;
  }

  /* menu btn */

  .menu-btn {
  display: none;
  }

  .menu-btn:checked ~ .menu {
  max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  background: #930025;
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  background: #930025;
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  }

}


@media only screen and (min-device-width : 375px) and (max-device-width : 667px) {

  .menu-icon {
  z-index: 1000000000022;
  display: inline-block;
  float: left;
  padding: 50px 25px;
  position: relative;
  user-select: none;
  }

  .menu-icon .navicon {
  background: #f0dcdd;
  display: block;
  height: 4px;
  border-radius: 4px;
  position: relative;
  transition: .2s ease-out;
  width: 80px;
  }

  .menu-icon .navicon:before,
  .menu-icon .navicon:after {
  background: #f0dcdd;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  }

  .menu-icon .navicon:before {
  top: 25px;
  border-radius: 4px;
  }

  .menu-icon .navicon:after {
  top: -25px;
  border-radius: 4px;
  }

  /* menu btn */

  .menu-btn {
  display: none;
  }

  .menu-btn:checked ~ .menu {
  max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  }

  .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  background: #930025;
  }

  .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  background: #930025;
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  }
}
